
.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 850px;
}

.opening-crawl {
  width: 75%;
}

.section-character-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
  padding: 10px;
  overflow: scroll;
  width: 95%;
}

.starwars-scroll {
  background-image: url('../../images/nightsky.gif');
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 250px;
  height: 250px;
  perspective: 700px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
  border: 2px solid white;
  width: 100%;
  border-top: 2px solid black;
  overflow: hidden;
}

.scroll-window {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 90s linear 1s infinite;
}

.scroll-p {
  width: 75%;
  margin: auto;
}

.title {
  text-align: center;
}

.fade {
  position: absolute;
  width: 100%;
  min-height: 25vh;
  top: 180px;
  background-image: linear-gradient(0deg, transparent, black 95%);
  z-index: 1;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
