.section-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  height: 100vh;
  width: 80%;
  margin-top: 10px;
}

.header-error {
  font-size: 3em;
  margin: 0;
  color: indianred;
}

.p-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 5px;
  font-size: 1.5em;
  padding: 10px;
  border: indianred 10px solid;
  background-color: black;
  color: white;
  border-radius: 10px;
  opacity: .9;
  width: 350px;
  height: 575px;
}

.p-error {
  margin: 5px;
}

.gif-error {
  height: 350px;
  width: 350px;
  opacity: 1;
  padding: 15px;
  border: indianred 3px solid;
  background-color: indianred;
  border-radius: 10px;
}

.link-error {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.button-error {
  margin: 10px;
  width: 20%;
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 0;
  cursor: pointer;
}

.button-error:hover {
  background-color: white;
  color: black;
}
