.no-favorites-section {
  width: 35%;
  border: indianred 5px solid;
  border-radius: 10px;
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 1.5em;
}

.no-favorites-header {
  margin: 0;
}
