.article-movie {
  border: solid 3px white;
  border-radius: 10px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 275px;
  align-items: center;
  margin: 10px;
  opacity: .9;
  width: 30%;
  min-width: 400px;
    &>.movie-card-title {
      font-size: 1.5em;
      color: indianred;
      border-bottom: solid 1px;
    }
  }



