.loading-container {
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.loading-gif-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 50vh;
}

.loading-racer-gif {
  animation: flying 4s linear infinite;
  opacity: 1;
}

@keyframes flying {
  from {
    margin-left: 95%;
    margin-right: 0;
  }
  to {
    margin-left: 0;
    margin-right: 145%;
  }
}
