main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

img {
  height: 200px;
  width: 350px;
  margin-top: 15px;
  opacity: .85;
}

form {
  height: 400px;
  width: 45%;
  opacity: .8;
  background-color: black;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 10px;
}

.nav-logo {
  margin: 15px 0;
  height: 100px;
  width: 175px;
}

.input-login {
  width: 40%;
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.btn-login {
  border: 3px solid white;
  width: 75%;
  font-size: 1em;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  outline: 0;
  cursor: pointer;
}

.btn-login:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.input-select {
  width: 100%;
  font-size: 1em;
  height: 35px;
  border-radius: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 40%
}

.link-button {
  width: 65%;
  display: flex;
  justify-content: center;
}

label {
  color: white;
  margin-bottom: 5px;
}
