nav {
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
}

.btn-info {
  width: 2%;
  border-radius: 50%;
  font-size: 1.5em;
  background-color: black;
  color: white;
  outline: 0;
  cursor: pointer;
}

h1 {
  width: 65%;
  font-size: 2em;
}

.btn-favorites {
  opacity: .8;
  width: 10%;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  outline: 0;
  cursor: pointer;
}

.btn-logout {
  opacity: .8;
  width: 10%;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  outline: 0;
  cursor: pointer;
}
