nav {
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
}

h1 {
  width: 45%;
  font-size: 2em;
}

.btn-favorites {
  opacity: .8;
  width: 10%;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  outline: 0;
  cursor: pointer;
}

.btn-logout {
  opacity: .8;
  width: 10%;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  outline: 0;
  cursor: pointer;
}

.user-info {
  width: 400px;
}

.user-inner {
  align-items: baseline;
  display: flex;
  overflow: hidden;
  width: 50px;
}

.user-inner:hover {
  width: 350px;
}

.user-p {
  margin: 10px;
}

.i-p {
  min-width: 50px;
  max-width: 50px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5em;
  text-align: center;
  padding-top: 10px;
  background-color: black;
  color: white;
  outline: 0;
  cursor: pointer;
}