nav {
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
}

.nav-logo {
  margin: 15px 0;
  height: 100px;
  width: 175px;
  opacity: .85;
}

.favorites-link {
  width: 100%;
  text-decoration: none;
}

.nav-favorites-img {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.btn-favorites {
  opacity: .8;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  margin-bottom: 5px;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-favorites:hover {
  background-color: white;
  color: black;
}

.btn-logout {
  opacity: .8;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  outline: 0;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: white;
  color: black;
}

.user-info {
  width: 450px;
  margin-left: 5px;
}

.user-inner {
  align-items: center;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  width: 90px;
  height: 100px;
  border-right: 2px solid black;
  transition: width 3s;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 15%;
}

.user-inner:hover {
  width: 500px;
}

.user-p {
  margin: 10px;
}

.link-logout {
  width: 100%;
}

span {
  font-weight: bold;
  text-decoration: underline;
}

.i-p {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  margin: 15px 10px;
  cursor: pointer;
  transition: transform 20s linear;
}

.i-p:hover {
  transition: transform 50s linear;
  transform: rotate(3600deg);
}
